.forecast {
  width: 100%;
}

.list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.grabbing {
  cursor: grabbing;
}

.list::-webkit-scrollbar {
  display: none;
}
