.forecast {
  width: 100%;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  overflow: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  display: none;
}
