.button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding: 0;
  border: none;
  background-color: transparent;

  color: inherit;
}

.button:focus-visible {
  outline: 1px solid var(--color-primary-light);
}

.buttonFavorite {
  --fill-color: var(--color-grey-shade);
  --hover-color: var(--color-third-light);
  --active-color: var(--color-third-shade);
}

.buttonFavoriteActive {
  --fill-color: var(--color-third);
  --hover-color: var(--color-third-shade);
  --active-color: var(--color-third-light);
}
